# vim: sw=4 et

[core]
    fscache = true
    preloadindex = true
[alias]
    s = status
    c = config
    ch = checkout
    cl = config -l
    ce = config -e
    cr = clone --recursive
    f = fetch
    p = pull
    a = add
    aa = add -A
    b = branch
    d = diff --word-diff=color
    dr = diff --word-diff=color origin/master
    l = log --oneline --graph --decorate --all
    la = log --graph --decorate --all --show-signature
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    contributors = shortlog --summary --numbered
[color]
    ui = auto
[gpg]
    program = gpg2
[diff]
    renames = copies
[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 30
[push]
    default = matching
    followTags = true
[oh-my-zsh]
    hide-status = 1
[pull]
    ff = only
[include]
    path = ~/.gitconfig_include
[init]
    defaultBranch = main
